body {
  background-color: #90d5ec;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.array-content {
  display: grid;
  grid-template-columns: 20% 80%;
}

.array-bar {
  width: 40px;
  display: inline-block;
  margin: 3px;
  padding: 5px;
}

.sort-sidebar {
  height: 30%;
}

.sort-content {
  padding: 100px;
}

button {
  padding: 20px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: turquoise;
  color: black;
}

@media screen and (max-width: 1000px) {
  .array-content {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .sort-content {
    padding: 20px;
  }
  .array-bar {
    width: 1px;
    display: inline-block;
    margin: 1px;
  }
}
