body {
  background-color: #90d5ec;
  background: #ff4b1f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff9068,
    #ff4b1f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff9068,
    #ff4b1f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.array-content {
  display: grid;
  grid-template-columns: 20% 80%;
}

.array-bar {
  width: 40px;
  display: inline-block;
  margin: 3px;
  padding: 5px;
}

.sort-sidebar {
  height: 30%;
}

.sort-content {
  padding: 100px;
}

button {
  padding: 20px;
  display: block;
  width: 100%;
  margin-top: 10px;
}

button:hover {
  background-color: turquoise;
  color: black;
}

@media screen and (max-width: 1000px) {
  .array-content {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .sort-content {
    padding: 20px;
  }
  .array-bar {
    width: 20px;
    display: inline-block;
    margin: 3px;
  }
}
